body {
  font-family: Calibri;
}
.row {
  margin: 0;
  padding: 0;
}
.top__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  width: 1190px;
}
.item {
  display: inline-block;
  width: 165px;
  height: 165px;
  padding-left: 15px;
  padding-top: 26px;
  font-size: 16px;
  font-family: Calibri;
  font-weight: bold;
  color: #fff;
  letter-spacing: -0.16px;
}
.even {
  background-color: #0cb1aa;
}
.item__double {
  width: 330px;
  text-transform: uppercase;
  font-size: 48px;
  color: #000;
  background-color: #14cac2;
  font-family: Calibri;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 50px;
  line-height: 45.33px;
}
.middle {
  background-color: #04726d;
  color: #fff;
  letter-spacing: -0.16px;
  vertical-align: middle;
  height: 150px;
  font-family: Calibri;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.middle__title,
.middle__txt {
  display: inline-block;
  margin: 0;
}
.middle__txt {
  width: 885px;
  font-size: 16px;
  text-transform: uppercase;
}
.middle__title {
  font-size: 82.85px;
  padding-left: 50px;
  padding-right: 30px;
  font-weight: bold;
}
.bottom {
  padding-top: 38px;
  background-color: #eefaf9;
  height: 300px;
}
.bottom__left {
  letter-spacing: -0.16px;
  color: #000;
  display: inline-block;
}
.bottom__left-title {
  font-size: 48px;
  line-height: 45.33px;
  text-transform: uppercase;
  height: 80px;
  margin: 0;
  padding: 0;
}
.bottom__left-txt {
  font-size: 16px;
  width: 190px;
  font-weight: normal;
}
form {
  display: flex;
  flex-direction: row;
  width: 655px;
  padding-left: 50px;
}
label,
input {
  width: 320px;
  display: block;
}
input {
  height: 40px;
}
textarea {
  width: 320px;
  height: 170px;
}
.form__middle,
.form__right {
  display: inline-block;
}
.form__middle {
  margin-left: 205px;
  margin-right: 16px;
}
.form__bottom {
  position: relative;
}
#submit {
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 165px;
  border-radius: 10px;
  background-color: #f6a4a6;
  font-weight: bold;
  font-size: 16px;
  padding-left: 40px;
  box-shadow: 0px 5px #f59799;
}
